@using InventorySystem.Domain.Enums
@model InventorySystem.Application.Features.Products.Queries.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-12 text-right">
                        <h3 class="card-title ">تعديل معلومات الماده</h3>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <form method="post" asp-action="Edit">
                    <div class="p-4 border rounded">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Code"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Code" class="form-control" />
                            </div>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Barcode"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Barcode" class="form-control" />
                            </div>
                            <span asp-validation-for="Barcode" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="SerialNumber"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="SerialNumber" class="form-control" />
                            </div>
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Type"></label>
                            </div>
                            <div class="col-6">
                                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ProductType>()">
                                </select>
                            </div>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="UOM"></label>
                            </div>
                            <div class="col-6">
                                <select asp-for="UOM" class="form-control" asp-items="Html.GetEnumSelectList<UOM>()">
                                </select>
                            </div>
                            <span asp-validation-for="UOM" class="text-danger"></span>
                        </div>						

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-6">
                                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <hr />

                        <div class="form-group text-left">
                            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="تحديث" />
                            <a asp-action="Index" class="btn btn-default">العوده الى القائمة</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

