@model InventorySystem.Application.Features.Invoices.Queries.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title ">تفاصيل الوصل</h3>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <div class="p-4  border rounded">
                    <input type="hidden" asp-for="Id" />

                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Number"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Number" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Type"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Type" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Supplier"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Supplier" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Warehouse.Name"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Warehouse.Name" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-6">
                                <textarea asp-for="Description" rows="3" disabled class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-1">

                    </div>

                    <div class="col-3">

                    </div>

                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">تعديل</a>
                        <a asp-action="Index" class="btn btn-danger">العوده الى القائمة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
